* {
  margin: 0;
  padding: 0;
}

.bannerbilledeforside {
  width: 100%;
  display: block;
}

.bannerbillede3 {
  grid-area: bil3;
  width: 100%;
  display: block;
  }

  .wiserintrooverskrift {
    grid-area: wiov;
    width: 100%;
    display: block;
    }

.wiserappbillede {
  grid-area: bil4;
  width: 100%;
  display: block;
  }

  .wiserintrosektion {
    background-color: lightgreen;
    margin: 0;
    padding: 4%;
    padding-top: 85px;
    padding-bottom: 85px;
    height: auto;
    gap: 10px;
    display: grid;
    grid-column: 12;
    grid-template-areas:
      '. . . wiov wiov wiov bil4 bil4 bil4 . . .'
      '. . . bil3 bil3 bil3 bil4 bil4 bil4 . . .';
  }

@media only screen and (min-width: 600px) {
.bannerbilledeforside {
  width: 100%;
}

.bannerbillede3 {
  grid-area: bil3;
  width: 100%;
  }

.wiserappbillede {
  grid-area: bil4;
  width: 100%;
  }

.wiserintrosektion {
  background-color: lightgreen;
  margin: 0;
  padding: 0;
  height: 500px;
  gap: 10px;
  display: grid;
  grid-column: 12;
  grid-template-areas:
    '. . . bil3 bil3 bil3 bil4 bil4 bil4 . . .';
}
}
