.bannerbilledeforside {
    width: 100%;
    height: auto;
    padding-top: 17%;
    padding-bottom: 17%;
    background-image: url("../images/kontaktteam.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-left: 5%;
    max-height: 650px;
}

#overlay {
width: 100%;
height: 100%;
background-image: green;
}

form {
  max-width: 550px;
  width: 85%;
  background: lightgrey;
  margin: 12% auto 0 auto;
  padding: 40px;
  border-radius: 15px;
  box-sizing: border-box;
  margin-bottom: 12%;
}

@media only screen and (min-width: 600px) {
  form {
    margin: 5% auto 0 auto;
    margin-bottom: 5%;
}
}

h2 {
  margin: 0;
  text-align: center;
}

label {
  display: block;
  margin: 20px 0;
  }

input[type="text"], textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 2px solid #3FCC59;
  }

  input[type="submit"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    }

input[type="text"]:focus, textarea:focus {
  border-bottom: 2px solid #42B4E6;
  }

  .center {
    text-align: center;
  }

input[type="submit"] {
  margin-top: 30px;
  width: 90%;
  max-width: 200px;
  background: #42B4E6;
  color: white;
  font-size: 17px;
  cursor: pointer;
  border-radius: 3px;
  }

  .error {
    color: red;
  }

  .error-border {
    border-bottom: 1px solid red;
    }
