                            * {
                                margin: 0;
                                padding: 0;
                            }
                            
                            .billedebox2 {
                                width: 100%;
                                height: auto;
                                padding-top: 17%;
                                padding-bottom: 17%;
                                background-image: url("../images/omwiserbanner.png");
                                background-repeat: no-repeat;
                                background-position: center;
                                background-size: cover;
                                padding-left: 5%;
                            }
                            
                            .schneidertekst {
                                grid-area: schneitekst;
                                width: 100%;
                                display: block;
                            }
                            
                            .billedeafschneider {
                                grid-area: schneiderbilled;
                                width: 100%;
                                display: block;
                            }
                            
                            .afschneiderelectricsection {
                                background-color: white;
                                margin: 0;
                                padding: 4%;
                                padding-top: 85px;
                                padding-bottom: 85px;
                                height: auto;
                                gap: 10px;
                                display: grid;
                                grid-column: 12;
                                grid-template-areas: '. . . schneiderbilled schneiderbilled schneiderbilled schneiderbilled schneiderbilled schneiderbilled . . .' '. . . schneitekst schneitekst schneitekst schneitekst schneitekst schneitekst . . .';
                            }
                            
                            .nemtogsikkertsektion {
                                background-color: #3DCD58;
                                margin: 0;
                                padding: 4%;
                                padding-top: 85px;
                                padding-bottom: 85px;
                                height: auto;
                                gap: 10px;
                                display: grid;
                                grid-column: 12;
                                grid-template-areas: '. . . schneiderbilled schneiderbilled schneiderbilled schneiderbilled schneiderbilled schneiderbilled . . .' '. . . schneitekst schneitekst schneitekst schneitekst schneitekst schneitekst . . .';
                            }