* {
  margin: 0;
  padding: 0;
}

.produktbannerbillede {
  width: 100%;
  height: auto;
  padding-top: 17%;
  padding-bottom: 17%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.35),
                   rgba(0, 0, 0, 0.35)),url("../images/produktbanner.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-left: 5%;
  max-height: 650px;
}

.produktpakker{
  text-align: center;
  padding-top: 50px;
}


.slukaltboks {
  grid-area: sat;
  width: 100%;
  display: block;
}

.ferieboks {
  grid-area: fet;
  width: 100%;
  display: block;
}

.dogvboks {
  grid-area: dvt;
  width: 100%;
  display: block;
}

.slukaltbillede {
  width: 100%;
  max-width: 400px;
  }

.feriebillede {
  width: 100%;
  max-width: 400px;
  }

.dogvbillede {
  width: 100%;
  max-width: 400px;
  }

.slukalttekstboks{
  grid-area: satb;
  width: 100%;
  text-align: center;
  display: block;
}

.ferietekstboks{
  grid-area: fetb;
  width: 100%;
  text-align: center;
  display: block;
}

.dogvtekstboks{
  grid-area: dvtb;
  width: 100%;
  text-align: center;
  display: block;
}

.produktpakkerboks {
  background-color: white;
  margin: 0;
  padding: 15%;
  padding-top: 50px;
  padding-bottom: 85px;
  height: auto;
  gap: 10px;
  display: grid;
  grid-column: 12;
  grid-template-areas:
    '. . . sat sat sat sat sat sat . . .'
    '. . . . . . . . . . . .'
    '. . . satb satb satb satb satb satb . . .'
    '. . . . . . . . . . . .'
    '. . . fet fet fet fet fet fet . . .'
    '. . . . . . . . . . . .'
    '. . . fetb fetb fetb fetb fetb fetb . . .'
    '. . . . . . . . . . . .'
    '. . . dvt dvt dvt dvt dvt dvt . . .'
    '. . . . . . . . . . . .'
    '. . . dvtb dvtb dvtb dvtb dvtb dvtb . . .';
}


.wiserappoverskrift{
  color: white;
}

.wiserapptekst {
    grid-area: wisermandtekst;
    width: 100%;
    display: block;
    color: white;
}

.wiserapptekstboks {
    grid-area: wptb;
    width: 100%;
    display: block;

}

.wiserappmandbillede {
    grid-area: wpmb;
    width: 100%;
    display: block;
}
.wiserappmand{
background-color: #3FCC59;
margin: 0;
padding: 4%;
padding-top: 85px;
padding-bottom: 85px;
height: auto;
gap: 10px;
display: grid;
grid-column: 12;
grid-template-areas: '. . . wpmb wpmb wpmb wpmb wpmb wpmb . . .' '. . . wptb wptb wptb wptb wptb wptb . . .';
}



.animationtekst1 {
    grid-area: animation1tekst;
    width: 100%;
    display: block;
}


.animtion1tekstboks {
    grid-area: a1tb;
    width: 100%;
    display: block;
}

.animationsvideo1 {
    grid-area: av1;
    width: 100%;
    display: block;
}

video{
  width: 100%;
}
.animation1{
background-color: white;
margin: 0;
padding: 4%;
padding-top: 85px;
padding-bottom: 85px;
height: auto;
gap: 10px;
display: grid;
grid-column: 12;
grid-template-areas: '. . . av1 av1 av1 av1 av1 av1 . . .' '. . . a1tb a1tb a1tb a1tb a1tb a1tb . . .';
}



.animationtekst2 {
    grid-area: animation2tekst;
    width: 100%;
    display: block;
}

.animtion2tekstboks {
    grid-area: a2tb;
    width: 100%;
    display: block;
}

.animationsvideo2 {
    grid-area: av2;
    width: 100%;
    display: block;
}
.animation2{
background-color: white;
margin: 0;
padding: 4%;
padding-top: 85px;
padding-bottom: 85px;
height: auto;
gap: 10px;
display: grid;
grid-column: 12;
grid-template-areas: '. . . av2 av2 av2 av2 av2 av2 . . .' '. . . a2tb a2tb a2tb a2tb a2tb a2tb . . .';
}

@media (min-width: 455px) {
  .slukaltbillede {
    width: 100%;
    min-width: 125px;
    }

  .feriebillede {
    width: 100%;
    min-width: 125px;
    }

  .dogvbillede {
    width: 100%;
    min-width: 125px;
    }
}

@media (min-width: 600px) {
  .produktpakkerboks {
    background-color: white;
    margin: 0;
    padding: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    gap: 10px;
    display: grid;
    grid-column: 12;
    grid-template-areas:
      '. . . sat sat fet fet dvt dvt . . .'
      '. . . . . . . . . . . .'
      '. . . satb satb fetb fetb dvtb dvtb . . .';
  }

}

@media (min-width: 850px) {
  .produktbannerbillede{
    padding-top: 14%;
  }
}

@media only screen and (min-width: 935px) {
  .produktbannerbillede {
    width: 100%;
  }

  .wiserapptekstboks{
    padding-left: 50px;
  }
  .animtion1tekstboks{
    padding-right: 50px;
  }
  .animtion2tekstboks{
    padding-left: 50px;
  }

  .wiserappmand {
    background-color: #3FCC59;
    margin: 0;
    padding: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    gap: 10px;
    display: grid;
    grid-column: 12;
    grid-template-areas:
      '. . . wpmb wpmb wpmb wptb wptb wptb . . .'
  }
  .animation1 {
    background-color: white;
    margin: 0;
    padding: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    gap: 10px;
    display: grid;
    grid-column: 12;
    grid-template-areas:
      '. . . a1tb a1tb a1tb av1 av1 av1  . . .'
  }

  .animation2 {
    background-color: white;
    margin: 0;
    padding: 4%;
    padding-top: 50px;
    padding-bottom: 50px;
    height: auto;
    gap: 10px;
    display: grid;
    grid-column: 12;
    grid-template-areas:
      '. . .  av2 av2 av2  a2tb a2tb a2tb . . .'
  }

  }
