* {
  margin: 0;
  padding: 0;
}

.pbillede {
  width: 100%;
  display: block;
}

.produkter{
  display: flex;
  flex-direction: column;
  
}

@media (min-width: 600px) {
  .pbillede {
    width: 100%;
    display: block;
  }
