       .navbar {
           list-style-type: none;
           margin: 0;
           padding: 0;
           background-color: #3DCD58;
           position: fixed;
           top: 0;
           width: 100%;
       }
       
       .navtext {
           float: left;
       }
       
       .navtext a {
           display: block;
           color: white;
           text-align: center;
           padding: 14px 16px;
           text-decoration: none;
       }