* body {
    background-color: white;
    margin: 0px;
}

h1{
  font-family: arial Rounded MT;
  color: white;
}

h2{
  font-family: arial Rounded MT;
}

h3{
  font-family: arial Rounded MT;
}

p{
  font-family: arial;
}

a{
  font-family: arial;
}


.header {
    width: 100%;
    height: auto;
    margin-bottom: 40px;
    background-color: #3DCD58;
    overflow: hidden;
    text-align: center;
    font-size: 50px;
}

.navfremvisning{
  min-height: 100px;
  margin-left: 405px;
  margin-right: 45px;
  background-color: #3DCD58;
}

.logofremvisning{
  float: left;
  margin-left: 15px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.navtekstfremvisning{
  float: right;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 30px;
  color: white;
  padding: 15px;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  font-family: arial Rounded MT;
}

.fst{
  transition: 0.7s ease;
  position: relative;
}

.fst::before {
    content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -.50em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.fst:hover::before {
    transform: scale(1, 1);
}

.pst{
  transition: 0.7s ease;
  position: relative;
}

.pst::before {
    content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -.50em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.pst:hover::before {
    transform: scale(1, 1);
}

.omt{
  transition: 0.7s ease;
  position: relative;
}

.omt::before {
    content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -.50em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.omt:hover::before {
    transform: scale(1, 1);
}

.kst{
  transition: 0.7s ease;
  position: relative;
}

.kst::before {
    content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -.50em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.kst:hover::before {
    transform: scale(1, 1);
}

.fet{
  transition: 0.7s ease;
  position: relative;
}

.fet::before {
    content: '';
    display: block;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -.50em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
}

.fet:hover::before {
    transform: scale(1, 1);
}

.menu {
    padding: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: auto;
    overflow: auto;
    position: absolute;
}

li a {
    display: block;
    color: #000;
    padding: 36px 18px;
    text-decoration: none;
    text-align: center;
}

li a:hover {
    background-color: #555;
    color: white;
}

.htmlboks{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 20px;

}

.htmlboks1{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-left: 400px;
  margin-right: 20px;
}

.htmlboks2{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-left: 400px;
  margin-right: 20px;
}

.htmlboks3{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-left: 400px;
  margin-right: 20px;
}

.htmlboks4{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 20px;
}

.htmlboks5{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 45px;
  margin-left: 405px;
}

.htmlboks6{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 20px;
  margin-left: 400px;
  margin-bottom: 30px;
}

.tekst {
    margin-left: 25%;
    padding: 1px 25px;
    padding-bottom: 30px;
}

.knap {
    background-color: #42B4E6;
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    width: 270px;
}

.knap:hover {
    background-color: #3087AD;
    cursor: pointer;
}

.farveboks{
  margin-left: 25%;
  padding: 1px 25px;
  margin-bottom: 30px;
}

.green {
    background-color: #3DCD58;
    width: 25%;
    padding: 25px;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

.darkgreen {
    background-color: #009530;
    padding: 25px;
    width: 25%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

.nearlywhite{
  background-color: #FDFEFF;
  padding: 25px;
  width: 25%;
  text-align: center;
  color: #1F1F1F;
  margin-bottom: 10px;
  margin-top: 30px;
  border: solid #9FA0A4;
}

.lightgrey {
    background-color: #9FA0A4;
    padding: 25px;
    width: 25%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

.darkgrey {
    background-color: #626469;
    padding: 25px;
    width: 25%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

.lightblack{
  background-color: #1F1F1F;
  padding: 25px;
  width: 25%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-top: 30px;
}

.lightblue {
    background-color: #42B4E6;
    padding: 25px;
    width: 25%;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-top: 30px;
}

.darkblue{
  background-color: #3087AD;
  padding: 25px;
  width: 25%;
  text-align: center;
  color: white;
  margin-bottom: 10px;
  margin-top: 30px;
}

.margin-farver {
    margin-top: -30px;
    padding-bottom: 25px;

}

.mainheader {
    font-family: arial Rounded MT;
    color: white;
    font-size: 50px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("../images-sg/fremvisningsbillede.jpg");
    margin-top: 70px;
    padding: 30px;
    margin-right: 20px;
}

.titelboks{
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 70px;
}

.supheader {
    font-family: arial Rounded MT;
    font-size: 30px;
    color: #1F1F1F;
}

.undertitelboks{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 20px;
  margin-bottom: 70px;
}

.paragraf {
    font-family: arial;
    font-size: 20px;
    color: #1F1F1F;
}

.paragrafboks{
  margin-top: 20px;
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding-left: 10px;
  margin-right: 20px;
}

.ikonertitel{
  margin-left: 400px;
}

.ikoner {
    display: inline-block;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
}

.fa-facebook {
    color: rgb(255, 255, 255);
    background-color: #626469;
    padding: 20px;
    min-width: 40px;
    text-align: center;
}

.fa-instagram {
    color: rgb(255, 255, 255);
    background-color: #626469;
    padding: 20px;
    min-width: 40px;
    text-align: center;
}

.fa-youtube {
    color: rgb(255, 255, 255);
    background-color: #626469;
    padding: 20px;
    min-width: 40px;
    text-align: center;
}

.fa-facebook:hover {
    color: #9FA0A4;
}

.fa-instagram:hover {
    color: #9FA0A4;
}

.fa-youtube:hover {
    color: #9FA0A4;
}

.logotitel{
  margin-left: 400px;
}

.logoboks{
  display: inline-block;
  margin-left: 400px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.logofooter {
    background-color: #626469;
    max-height: 175px;
}

.readmore {
    max-width: 500px;
    max-height: 500px;
}

.billedertitel{
  margin-left: 400px;
}

.billedeboks{
  display: inline-block;
  margin-left: 400px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.elektriker {
    max-width: 500px;
    max-height: 500px;
}

.tekststorrelse {
    font-size: 17px;
}

h5{
  font-family: arial Rounded MT;
  color: white;
  font-size: 20px;
}

.footerfremvisning{
  margin-left: 405px;
  margin-right: 45px;
  background-color: #626469;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  }

  .footerlogofremvisning{
    padding: 30px;
    padding-right: 0;
  }

  .appsfremvisning{
display: flex;
flex-direction: column;
gap: 15px;
max-width: 200px;
  }

  .navigationfremvisning{
  color: white;
  display: flex;
  flex-direction: column;
  }

  .kontaktinfofremvisning{
    color: white;
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    padding-right: 30px;
  }

  #geolink{
    cursor: pointer;
  }

  .somefremvisning{
    display: flex;
    flex-direction: row;
    font-size: 30px;
    margin: -35px;
    padding-bottom: 10px;

  }

.kontaktboksfremvisning{
width: 450px;
height: 600px;
margin-left: 400px;
background-color: green;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images-sg/trees-sg.jpg");
}

h4 {
    margin: 0;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
    font-family: arial Rounded MT;
    font-size: 30px;
}

label {
    display: block;
    margin: 20px 0;
}


input[type="text"],
textarea {
  margin-left: 70px;
    width: 70%;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
    resize: none;
    border: none;
    border-bottom: 2.5px solid #009530;
}

#center {
    text-align: center;
}

input[type="submit"] {
    margin-top: 30px;
    width: 100%;
    max-width: 200px;
    background: #42B4E6;
    color: white;
    cursor: pointer;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    height: auto;
    border: none;
}

input[type="submit"]:hover {
    background: #3087AD;
}

.error {
    color: red;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
    margin-left: 70px;
}

#success {
    color: white;
    padding-top: 20px;
    font-size: 35px;
    font-family: arial;
}

.ayrboks{
  display: block;
  margin-left: 335px;
}

#areyouready{
  border: solid #3DCD58;
  border-radius: 5px;
  margin-left: 0px;
}
